.hidden {
	visibility: hidden;
}

#map {
        height: 70%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans', sans-serif;
        top: 0;
        left: 0;
}

.banner {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	width: 100%;
}

h1 {
	font-size: 20px;
	margin: 12px 0px 6px 0px;
}

.space-1, .space-3 {
	min-height: 3%;
}

.js-graph {
	display: flex;
	flex-direction: row;
	min-width: 100%;
}

#map {
	flex: 1;
	min-width: 49%;
	min-height: 400px;
}

.space-2 {
	min-width: 2%;
	min-height: 400px;
	flex: 1;
}

#container {
	flex: 1;
	min-width: 49%;
}

.search-area {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 6px 0px 12px 0px;
	flex: 1;
	display: flex;
}

.js-query {
	display: flex;
	width: 80%;
	justify-content: center;
	align-items: center;
}

#js-query-search, #search-button {
	height: 30px;
	border-radius: 5px;
	border: 1px solid gray;
	font-size: 14px;
}

/*make button change color*/
#search-button {
	background-color: skyblue;
	color: white;
	margin: 0px 0px 0px 15px;
	flex: 1;
}

#search-button:hover {
	background-color: darkblue;
}

#js-query-search {
	margin: 0px 15px 0px 0px;
	flex: 4;
}

#error-message {
	display: flex;
	align-items: center;
	justify-content: center;
}

.js-city-results {
	padding: 10px 0px 0px 10px;
}

.js-city-results div:first-of-type {
	font-weight: bold;
}